:root {
  --red: rgb(255, 0, 0);
  --white: rgb(255, 255, 255);
  --radius: 2px;
  --fill: rgb(51, 51, 51);
}

button {
  background-color: var(--red);
  border-radius: var(--radius);
  color: var(--white);
  padding: 10px 16px;
  margin: auto 4px;
  white-space: nowrap;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: .007px;
  text-transform: uppercase;
  cursor: pointer;
}